@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/Aztec Wordmark_Dark.svg');
  background-repeat: repeat;
  background-size: 150px auto;
  background-position: 0 0;
  background-attachment: fixed;
  opacity: 0.05;
}